<form [formGroup]="inputForm">

  <table formArrayName="contractArrs">
    <ng-container *ngFor="let item of data; trackBy:trackByContractId; let i = index">
      <tr [formGroupName]="i">
        <td>
          <label>
            <input type="checkbox" formControlName="contract"> {{ item.contractCode }}
          </label>
        </td>
        <td formArrayName="defendants">
          <div *ngFor="let defendant of item.defendants; trackBy:trackByDefendantId; let defendantItem = index">
            <label [formGroupName]="defendantItem">
              <input type="checkbox" formControlName="defendantName"> {{ defendant.name }}
            </label>
          </div>
        </td>
      </tr>
    </ng-container>
  </table>

  <div style="width: 100%; text-align: center; margin-top: 20px">
    <button type="button" [disabled]="inputForm.invalid">Save</button>
    <button type="button" (click)="submit()">test</button>
  </div>

</form>


<pre>
  {{ inputForm.value | json }}
</pre>

<hr>

<pre>
  {{ inputForm.controls.contractArrs.errors | json }}
</pre>
